* {
  box-sizing:border-box;
}

html {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  font-style: normal;
  color: white;
  text-align: left;
  scroll-behavior: smooth;
  background-color: black;
}

body::-webkit-scrollbar {
  display: none; 
}

/* Font Size Changes */
h1 {
  font-size: 6vw;
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 2.5vw;
}

p {
  font-size: 20px;
}

div {
  display: block;
}

img {
  border-radius: 7px;
}

label {
  color: gray;
}

div {
  display: block;
}

#page-wrapper {
  padding: 60px 80px 120px;
  margin: 0 auto;
  max-width: 1600px;
}

#header-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
  transition: filter .5s,opacity 3s;
}

/* Makes the background fit the entire screen */
#header-background img {
  max-width: 100%;
}

#social-shop {
  float: right;
}

#social-shop a {
  color: white;
  display: inline-block;
  font-size: 22px;
  padding: 0 12px;
  line-height: 40px;
  text-decoration: none;
  position: relative;
  text-align: center;
}

#avatar_name {
  line-height: 44px;
  height: 44px;
  display: inline-block;
}

#avatar_name h3 {
  display: inline;
  font-size: xx-large;
}

#avatar_name img {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 12px;
  vertical-align: top;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  box-shadow: 0 0 45px rgba(0,0,0,.15);
}

#text {
  background-color:rgba(30, 30, 30, 1);
  position: absolute;
  display: block;
  padding: 20px 50px;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  border-radius: 10px;
  width: 1020px;
  height: 900px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.bar {
  display: inline-block;
  text-align: left;
}

.x {
  float: right;
  margin-right: -10px;
  margin-top: 20px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

#text p {
  width: 50%;
}

#text h3 {
  margin-bottom: 60px;
}

.bodyText {
  color:#999;
}

.description {
  float: right;
  text-align: right;
  width: 280px;
  margin-top: 0;
  box-sizing: border-box;
  padding-left: 30px;
  margin-top: 160px;
  margin-right: -150px;
}

/* Deco for Name and Description */
.textbox {
  margin-top: 150px;
  max-width: 600px;
}

.textbox h3 {
  margin: 0;
  font-size: 36px;
  font-weight: lighter;
  line-height: 1.22em;
  width: 660px;
}

.textbox p {
  margin-top: 25px;
  margin-bottom: 0;
  opacity: .80;
  letter-spacing: .35px;
  line-height: 16px;
  font-size: large;
}

#email-link {
  margin-top: 25px;
  text-decoration: none;
  color: black;
  background: white;
  display: inline-block;
  border-radius: 25px;
  padding: 0 30px;
  line-height: 50px;
  font-weight: 500;
}

#email-link:hover {
  background: black;
  color: white;
}

.container {
  margin: 200px auto;
  max-width: 1100px;
  overflow: hidden;
  padding: 0 2rem;
}

.container img {
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2em;
}

.card h3 {
  margin-bottom: 2rem;
}

.card img {
  height: 375px;
  object-fit: cover;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(odd) img{
  order: 2;
}

.more {
  margin: 250px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.still-image {
  position: relative;
}

.still-image img {
  transition: all .3s;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  margin-top: 8px;
  vertical-align: middle;
  object-fit: cover;
  width: 243px;
  height: 243px;
}

.image {
  position: relative;
}

.image img {
  transition: all .3s;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  margin-top: 8px;
  vertical-align: middle;
  object-fit: cover;
  width: 243px;
  height: 243px;
}

.image:hover img {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.image:hover .text-block {
  opacity: 1;
}

.long-image {
  position: relative;
}

.long-image img {
  transition: all .3s;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  margin-top: 8px;
  vertical-align: middle;
  object-fit: cover;
  width: 243px;
  height: 493px;
}

.wide-image {
  position: relative;
}

.wide-image img {
  transition: all .3s;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  margin-top: 8px;
  vertical-align: middle;
  object-fit: cover;
  width: 493px;
  height: 243px;
}

.poster {
  position: relative;
}

.poster img {
  transition: all .3s;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  margin-top: 8px;
  vertical-align: middle;
  object-fit: cover;
  width: 243px;
}

.bottom {
  margin-top: 251px;
}

/*.long-image:hover img {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.long-image:hover .text-block {
  opacity: 1;
}*/

.text-block {
  position: absolute;
  top: 0.47vw;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(30, 30, 30, 0.6);
  color: #fff;
  opacity: 0;
  border-radius: 7px;
  text-align: center;
  padding: 5px;
  padding-top: 32px;

  transition: all .3s;
}

a {
  color: white;
  text-decoration: none;
}

.about {
  margin-top: 0px;
  margin-bottom: 200px;
  color: white;
  text-align: center;
}

.about p {
  font-size: large;
}

#footer-email-link {
  margin-top: 25px;
  text-decoration: none;
  color: black;
  background: white;
  display: inline-block;
  border-radius: 25px;
  padding: 0 30px;
  line-height: 50px;
  font-weight: 500;
}

#footer-email-link:hover {
  background: black;
  color: white;
}

#footer-social-shop {
  float: right;
}

#footer-social-shop a {
  color: white;
  display: inline-block;
  font-size: 22px;
  padding: 0 12px;
  line-height: 40px;
  text-decoration: none;
  position: relative;
  text-align: center;
}




@media screen and (max-width:1200px) {
  
  #page-wrapper {
    padding: 30px 40px 60px;
  }
  
  .textbox {
    margin-top: 40vh;
  }
  
  .textbox h3 {
    max-width: 500px;
  }

  .container {
    margin: 50px auto;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }

  .column img {
    width: 100%;
    
  }
}





/* Use a media query to add a break point at 768px: */
/* Everthing beyond this point is changing things for Mobile version */
@media screen and (max-width:768px) {
  * {
    padding: 0;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
    padding: 10px;
  }

  #page-wrapper {
    padding: 15px 15px 20px;
  }

  #social-shop {
    display: none;
  }

  .textbox {
    max-width: 350px;
    margin-top: 40vh;
  }

  .textbox h3 {
    font-size: 30px;
    max-width: 350px;
    margin-top: 40vh;
  }

  .container {
    margin: 50px auto;
  }

  .card {
    display: block;
  }

  .card img {
    height: auto;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }

  .about {
    text-align: center;
    margin-bottom: 150px;
  }

  .about p {
    font-size: large;
  }

  .about img {
    height: 35vw;
  }

  #footer-email-link {
    float: center;
    margin: 0 auto;
  }

  #footer-social-shop {
    float: center;
    margin: 0 auto;
  }
}
