* {
  -webkit-box-sizing: border-box;
  box-sizing:border-box;
}

html {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  font-style: normal;
  color: white;
  text-align: left;
  scroll-behavior: smooth;
  background-color: black;
  scroll-snap-type: y proximity;
}

body::-webkit-scrollbar {
  display: none; 
}

/* Font Size Changes */
h1 {
  font-size: 6vw;
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 2vw;
}

p {
  font-size: 20px;
}

div {
  display: block;
}

img {
  border-radius: 7px;
}

label {
  opacity: 0.8;
}

div {
  display: block;
}

#page-wrapper {
  padding: 60px 80px 120px;
  margin: 0 auto;
  max-width: 1600px;
}

.scroll {
  scroll-snap-align: start;
}

.scroll-center {
  scroll-snap-align: center;
}

.scroll-end {
  scroll-snap-align: end;
}

#header-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
  transition: filter .5s,opacity 3s;
}

/* Makes the background fit the entire screen */
#header-background img {
  max-width: 100%;
}

#social-shop {
  float: right;
}

#social-shop a {
  color: white;
  display: inline-block;
  font-size: 22px;
  padding: 0 12px;
  line-height: 40px;
  text-decoration: none;
  position: relative;
  text-align: center;
}

#avatar_name {
  line-height: 44px;
  height: 44px;
  display: inline-block;
}

#avatar_name h3 {
  display: inline;
  font-size: xx-large;
}

#avatar_name img {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 12px;
  vertical-align: top;
}

/* Deco for Name and Description */
.textbox {
  margin-top: 345px;
  max-width: 600px;
}

.textbox h3 {
  margin: 0;
  font-size: 36px;
  font-weight: lighter;
  line-height: 1.22em;
  width: 660px;
}

.textbox p {
  margin-top: 25px;
  margin-bottom: 0;
  opacity: .80;
  letter-spacing: .35px;
  line-height: 16px;
  font-size: large;
}

#email-link {
  margin-top: 25px;
  text-decoration: none;
  color: black;
  background: white;
  display: inline-block;
  border-radius: 25px;
  padding: 0 30px;
  line-height: 50px;
  font-weight: 500;
}

#email-link:hover {
  background: black;
  color: white;
}

#recents-wrapper {
  margin: 150px auto;
  max-width: 1300px;
  overflow: hidden;
  padding: 0 2rem;
}

#recents-wrapper img {
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2em;
  scroll-snap-align: start;
}

.card h3 {
  margin-bottom: 2rem;
}

.card img {
  height: 375px;
  object-fit: cover;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(odd) img{
  order: 2;
}

.card button {
  background-color: transparent;
  border-color: transparent;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow: scroll;

  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transform: scale(0.9);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
}

.trigger {
  padding: 0 0;
  margin: 0 0;
}

.trigger :hover {
  cursor: pointer;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
}

/* Modal Content */
.modal-content {
  background-color: #252525;
  margin: auto;
  padding: 4vw 8vw;
  width: 65%;
  border-radius: 7px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
  padding-top: 1vw;
}

.close:hover,
.close:focus {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

.row {
  display: block;
}

/* modal columns */

.column {
  float: left;
}

.left {
  width: 70%;
  padding-right: 10px;
}

.left p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.5em;
  opacity: .6;
}

.right {
  text-align: right;
  width: 30%;
  padding-left: 10px;
}

.right h4 {
  margin-block-end: 0.5em;
}

.text {
  font-size: 20px;
  font-weight: 400;
  color: #9a9a9a;
  margin-bottom: 40px;
  line-height: 1.8em;
  white-space: pre-line;
}

/* Gallery */
.gallery {
  margin-top: 300px;
  background: #252525;
  width: 100%;
}

/* Gallery */
.gallery-bottom {
  margin-top: 100px;
  background: #252525;
  width: 100%;
}

.gallery-cell {
  width: 60%;
  height: 400px;
  margin-right: 10px;
  border-radius: 7px;
}

.gallery-cell img {
  height: 100%;
  object-fit: cover;
}

.gallery-cell-square {
  width: 60%;
  height: 500px;
  margin-right: 10px;
  border-radius: 7px;
}

.gallery-cell-square img {
  height: 100%;
  object-fit: cover;
}

.gallery-cell-wide {
  width: 100%;
  height: 500px;
  margin-right: 10px;
  border-radius: 7px;
}

.gallery-cell-wide img {
  height: 100%;
  object-fit: cover;
}

.gallery-cell-offset {
  width: 40%;
  height: 500px;
  margin-right: 10px;
  border-radius: 7px;
}

.gallery-cell-offset img {
  height: 100%;
  object-fit: cover;
}

.gallery-cell-offset2 {
  width: 30%;
  height: 500px;
  margin-right: 10px;
  border-radius: 7px;
}

.gallery-cell-offset2 img {
  height: 100%;
  object-fit: cover;
}

.gallery-cell-offset3 {
  width: 45%;
  height: 500px;
  margin-right: 10px;
  border-radius: 7px;
}

.gallery-cell-offset3 img {
  height: 100%;
  object-fit: cover;
}

.small {
  text-align: center;
  font-size: 8px;
}

.story {
  padding-top: 50px;
}

.story p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.5em;
  opacity: .6;
}

/* More and Filters */

#more-wrapper {
  margin: 150px auto;
  max-width: 1300px;
  overflow: hidden;
  padding: 0 2rem;
}

#more-wrapper img {
  width: 100%;
}

#filter-container {
  float: right;
  list-style: none;
  margin-top: 2vw;
}

#custom-select {
  float: right;
  margin-top: 40px;
  position: relative;
  display: none; /*hide original SELECT element: */
}

.more-container {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.more-container .trigger {
  background-color: transparent;
  border: transparent;
  padding: 0 0;
  margin: 0 0;
}

.filterDiv {
  position: relative;
  float: left;
  text-align: center;
  margin: 4px 8px;
  display: none;
  width: 243px;
}

.filterDiv img {
  transition: all .3s;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  vertical-align: middle;
  object-fit: cover;
  width: 243px;
  height: 243px;
}

.filterDiv:hover img {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.photoDiv {
  position: relative;
  float: left;
  text-align: center;
  margin: 8px 8px;
  width: 14vw;
}

.photoDiv img {
  vertical-align: middle;
  object-fit: cover;
  width: 14vw;
  height: 14vw;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  opacity: 0.75;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.btn:hover {
  opacity: 1;
}

.btn.active {
  opacity: 1;
  border-bottom-color: white;
}

.text-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(30, 30, 30, 0.6);
  color: #fff;
  opacity: 0;
  border-radius: 7px;
  text-align: center;
  padding: 1.5vw;
  margin: auto;
  transition: all .3s;
  font-family: "Avenir", sans-serif;
}

.text-block:hover {
  opacity: 1;
}

.text-block h4 {
  font-size: 20px;
  font-weight: 700;
}

.text-block p {
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-block label {
  font-size: 16px;
  color: white;
  opacity: .8;
}

a {
  color: white;
  text-decoration: none;
}

#about-wrapper {
  margin-top: 0px;
  margin-bottom: 200px;
  color: white;
  text-align: center;
}

#about-wrapper p {
  font-size: large;
}

#footer-email-link {
  margin-top: 25px;
  text-decoration: none;
  color: black;
  background: white;
  display: inline-block;
  border-radius: 25px;
  padding: 0 30px;
  line-height: 50px;
  font-weight: 500;
}

#footer-email-link:hover {
  background: black;
  color: white;
}

#footer-social-shop {
  float: right;
}

#footer-social-shop a {
  color: white;
  display: inline-block;
  font-size: 22px;
  padding: 0 12px;
  line-height: 40px;
  text-decoration: none;
  position: relative;
  text-align: center;
}



@media screen and (max-width:1200px) {
  
  #page-wrapper {
    padding: 30px 40px 60px;
  }
  
  .textbox {
    margin-top: 40vh;
  }
  
  .textbox h3 {
    max-width: 500px;
  }

  #main-wrapper {
    margin: 50px auto;
  }

  
}





@media screen and (max-width:900px) {

  .card > div {
    padding: 0rem;
  }

  .modal {
    padding-top: 0px;
  }

  .modal-content {
    margin: 0 0;
    padding: 4vw 8vw;
    width: 100%;
    border-radius: 0px;
  }
}




/* Use a media query to add a break point at 768px: */
/* Everthing beyond this point is changing things for Mobile version */
@media screen and (max-width:768px) {
  * {
    padding: 0;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
    padding: 10px;
  }

  #page-wrapper {
    padding: 15px 15px 20px;
  }

  #social-shop {
    display: none;
  }

  .textbox {
    max-width: 350px;
    margin-top: 40vh;
  }

  .textbox h3 {
    font-size: 30px;
    max-width: 350px;
    margin-top: 40vh;
  }

  #main-wrapper {
    margin: 50px auto;
  }

  .card {
    display: block;
  }

  .card img {
    height: auto;
  }

  .column {
    width: 100%;
  }

  .text-block {
    padding: 1vw;
  }

  #filter-container {
    display: none;
  }
  
  #custom-select {
    display: block;
  }

  #about-wrapper {
    text-align: center;
    margin-bottom: 150px;
  }

  #about-wrapper p {
    font-size: large;
  }

  #about-wrapper img {
    height: 35vw;
  }

  #footer-email-link {
    float: center;
    margin: 0 auto;
  }

  #footer-social-shop {
    float: center;
    margin: 0 auto;
  }
}
